<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
              <link th:href="@{/css/Serror.css}" rel="stylesheet" />
   
    <style>
       
    </style>
</head>

<body>





<div class="container">
  <div class="error">404</div>
  <div class="text">>_ <a href="http://www.tldp.org/FAQ/Linux-FAQ/error-messages.html#you-don-t-exist" target="_blank">
    <p >An unexpected error occurred. we are sorry its our fault . Please try again later.</p>
         <a class="home-link" th:href="@{/}">Go back Home</a> </a></div>
  
</div>

<div class="footer"> </div>

<div class="text">>_ <a href="http://www.tldp.org/FAQ/Linux-FAQ/error-messages.html#you-don-t-exist" target="_blank"> 
  <p>If the problem persists, contact support at <a href="mailto:saberamine000@gmail.com">saberamine000@gmail.com</a></p></a><span class="line">∣</span></div>






<!--     <div class="error-container"> -->
<!--         <i class="fas fa-exclamation-triangle"></i> -->
<!--         <h1>Error</h1> -->
<!--         <p >An unexpected error occurred. we are sorry its our fault . Please try again later."</p> -->
<!--         <a class="home-link" th:href="@{/}">Go back Home</a> -->
<!--         <div class="additional-info"> -->
<!--             <p>If the problem persists, contact support at <a href="mailto:saberamine000@gmail.com">saberamine000@gmail.com</a>.</p> -->
<!--             <p>Error code: <span th:text="${errorCode}">500</span></p> -->
<!--         </div> -->

<!--     </div> -->
</body>
</html>



